/****************** page defaults ******************/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.fixed-width {
    width: 600px;
    margin: 0 auto; 
}

.hidden {
    display: none;
}

.flex {
    display: flex; 
}

/****************** typography ******************/

h1, h2 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}


h3 {
    font-size: 18px;
    font-weight: bold;
}

footer {
    font-size: 12px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header a {
    color: black;
}

p {
    margin-bottom: 15px;
}


/****************** site-wide styling ******************/

header, footer {
    background-color: #c74365;
}

header {
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
    text-align: center;
    padding: 15px;
}

header a {
    font-size: 18px;
}

header img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

h1, header ul {
    line-height: 50px;
}

h1 {
    margin-right: 205px;
}

.fixed-width ul {
    column-gap: 15px;
}


/****************** home page styling ******************/

.italics {
    font-style: italic;
}

article {
    background-color: lightgray;
    padding: 15px;
    margin: 15px;
}

/****************** profile page styling ******************/

.wide-column{
    width: 420px;
}

.narrow-column {
    width: 180px;
}

.wide-column img {
    width: 120px;
}

.labels {
    font-weight: bold;
    width: 70px;
    text-align: right;
    margin-right: 15px;
}

.light-background {
    background-color: lightgrey;
    height: 140px;
    margin-top: 30px;
}

.light-background h2 {
    margin: 10px 0px 15px 15px;
}


/****************** form styling ******************/

form {
    margin: 45px 0px;
}

label {
    display: block;
    font-weight: bold;
    text-align: center;
}

input {
    width: 100px;
}

.timesheet-content .flex {
    column-gap: 15px; 
}

button {
    height: 21px;
    width: 107.2px;
    margin-left: 490px;
    margin-top: 30px;
    border: 1px solid grey;
    background-color: white;
    border-radius: 4px;
    font-family: inherit;
}

button:hover {
    background-color: grey;
}
